body{
    font-family: 'Lato', sans-serif;
    color: #444;
    letter-spacing: 1px;
}

h1, h2{
    text-align: center;
    font-weight: bold;
}

#wrapper{
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
    border: 1px solid lightgray;
}

#page-banner{
    background: #DB202C;
    padding: 10px 0;
    color: white;
    font-weight: bold;

}

#page-banner h1, #page-banner p{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#page-banner input{
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
}

#want-to-watch, #add-movie, #watched-movies, #tabbed-content{
    margin: 30px;
}

#want-to-watch, ul, #watched-movies, #tabbed-content ul{
    list-style-type: none;
    padding: 0;
}

#want-to-watch, li, #watched-movies{
    padding: 20px;
    border-left: 5px solid #ddd;    
    margin: 20px 10px;
    color: black;
    font-weight: bold;
}

#want-to-watch, #watched-movies, li:hover{
    border-color: #ddd;
}

li:hover {
    border-color: black;
}

.watched-button{
    float: right;
    background: #DB202C;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

.watched-button:hover{
    background: black;
}

.delete-button {
    float: right;
    background: #DB202C;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.delete-button:hover{
    background: black;
}

#add-movie{
    width: 400px;
    margin: 0 auto;
}

#add-movie input{
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    width: 300px;
    float: left;
}

#add-movie button{
    border: 1px solid black;
    background: black;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    width: 100px;
    margin: 20px 0;
    border-left: 0;
    color: white;
    font-weight: bold;
}

#add-movie:after {
    content: '';
    display: block;
    clear: both;
}

#hide-movies #hide {
    width: 30px;
}

#hide-movies label {
    line-height: 52px;
}

/*
#tabbed-content li{
    display: inline-block;
    padding: 10px 14px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
#tabbed-content .tab{
    display: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 4px;
}
#tabbed-content .tab.active{
    display: block;
}
*/